<!--
  Angular and associated Controller logic are now included as JS scripts
  at the top of layout.handlebars
-->
<div ng-app="myApp">
  <div ng-controller="myCtrl">
    <h1>English word: {{ english}}</h1>
    <h1>Korean word: {{ korean}}</h1>
    <h1>Transliteration: {{ transliteration}}</h1>
    <h1>Category: {{ category}}</h1>
  </div>
</div>
