<!--
  Angular and associated Controller logic are now included as JS scripts
  at the top of layout.handlebars
-->
<div ng-app="myApp">
  <div ng-controller="myCtrl">
      {{category}}

<div class="cards" ng-repeat:"x in result">
  <ul>
    <li>{{x.english}}</li>
    <li>{{x.korean}}</li>
  </ul>
</div>
{{x}}
  </div>
</div>
