
<div class="container">
<div class="row">
{{!-- TO THE LEFT OF LOGIN --}}
<div class="col-md-7">
<video poster="" autoplay="autoplay" loop="loop" class="video--responsive"><source src="https://i.imgur.com/lBDiHtE.mp4"></video>

</div>
{{!-- Using as space between jumbotrons --}}
<div class = "col-md-1"></div>
<div class="col-md-4">
<div class="jumbotron">
  <h2>Account Login</h2>
  <form action="/users/login" method="post">
    <div>
      <label>Username</label>
      <input type="text" name="username" placeholder="Username">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" placeholder="Password">
    </div>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>

  </form>
</div>
</div>
</div>
</div>


<div class="container">
<div class="col-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minima.</div>
<div class="col-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minima.</div>
<div class="col-md-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minimaLorem ipsum dolor sit amet consectetur adipisicing elit. Quasi placeat voluptas dolor aut, voluptate eius aperiam, ea delectus itaque non repellat, perspiciatis ducimus! Ex amet quaerat suscipit deleniti tempora minima.</div>
</div>






