<div class="hero">
  <div class="container containBot">
    <div class="row">
  {{!-- TO THE LEFT OF LOGIN --}}
      <div class="center-div">
        <h2>Let's Learn Korean ABC</h2>
        <button type="button" class="btn btn-xl">Get Started</button>
      </div>
    </div> 
  </div>

</div>
  {{!-- Using as space between jumbotrons --}}
  {{!-- <div class = "col-md-1"></div> --}}
  {{!-- <div class="col-md-4">
  <div class="jumbotron">
    <h2>Account Login</h2>
    <form action="/users/login" method="post">
      <div>
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </div>
    </form>
  </div> --}}


<div class="showcase">
  <div class="container text-center">
    <div class="col-md-6">
      <h2 class="dark">Learn How To Read and Write Hangul</h2>
      <p>Exercises understanding how to pronounce and read each character. All 21 vowls and 19 consonants will be covered in an easy to understand manner.</p>
    </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 text-align">
        <img src="https://i.imgur.com/Rzkn7KM.png">
      </div>
  </div>
</div>





{{!-- one more row of junk --}}
{{!-- <div class="start-now">
  <div class="container">

  </div>    
</div>     --}}

<div class="features">
  <div class="container">
      <div class="row">
      {{!-- TO THE LEFT OF LOGIN --}}

      <div class="col-md-4">
          <img src="https://i.imgur.com/zcuMrdr.png">
          <p class="text-center">See your progress as you Rank up</p>
      </div>
      <div class="col-md-4">
          <img src="https://i.imgur.com/snWKumx.png">
          <p class="text-center">View your score right away</p>
    </div>
      <div class="col-md-4">
          <img src="https://i.imgur.com/L3pZRqb.png">
          <p class="text-center">Listen to how words are pronounced</p>
    </div>


</div>

</div>
</div>

<div class="contact-us">
  <div class = "col-md-7"></div>
  <div class = "col-md-1"></div>
  <div class="col-md-4">
  <div class="jumbotron">
    <h2>Account Login</h2>
    <form action="/users/login" method="post">
      <div>
        <label>Username</label>
        <input type="text" name="username" placeholder="Username">
      </div>
      <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </div>
    </form>
  </div>

</div>






