/* UD */


/* http://www.colourlovers.com/palette/4031931/Rose_Quartz_Serenity */
img{

    max-width: 100%;
    height: auto;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, .2);
    text-align: center;
    display: inline-block; vertical-align: middle; float: none;
}

.row{

    text-align: center;
}

.col-md-1 {
    display:inline-block;
}
.showcase{

    padding:100px;

}


.jumboapp{

    background-color: #F7BEBE;

}

.start-now{

    background: linear-gradient(170deg, #13829B 30%, #29D2E4 70%);
    padding: 40px;

}


.containTop{
    padding-top: 100px;

}

.containLeftRight{

    padding-right: 150px;
    padding-left: 150px;

}

.features{

    padding-bottom: 40px;
}
.containBot{

    padding-bottom: 20px;
}
.contact-us{
    max-width: 100%;
    height: auto;
    background: linear-gradient(170deg, #29D2E4 20%, #13829B 70%);
    padding: 40px;
    /* background-image:url('../img/cherry.png'); */

}


footer{

    /* background: linear-gradient(160deg, #D4DFFA 0%, #F7BEBE 100%); */
    
    padding: 40px;
}

.hero {

    padding-top: 20px;
    /* background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%); */
    /* background-image:url('../img/artboard_1.png'); */
    /* background-color: #34ADFF; */
    background: linear-gradient(160deg, #FCC29A 0%, #29D2E4 50%);
    /* background: -webkit-linear-gradient(110deg,white 70%, #F7BEBE 35%); */
    /* background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover; */

}

video{
    position:relative;
    display:block;
    width:100%; 
    background-size:cover;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, .2);
  }
  .float-right{
    position:absolute;
  }
  h1{

text-align: center;

  }
  
  h2{ 
    top:80px;
    right:0;
  }
  a{
    top:150px;
    right:50px;
  }

.jumbotron{
    background-size: cover;
    /* padding: 60px; */
    border-radius: 10px;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, .2);
}

p{

    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
}
backup{
background: url('/img/orange.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body{
    /* background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
    background-image:url('../img/artboard.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover; */

    font-family: 'Arimo';font-size: 22px;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
}
.title{
  text-align: center;
}
form {
    width: 80%;
    margin: 0 auto;
}

label, input {
    /* in order to define widths */
    display: inline-block;
}

label {
    width: 30%;
    /* positions the label text beside the input */
    text-align: right;
}

label + input {
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}

/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */
input + input {
    float: right;
}
h2{
  text-align: center;
}
