/* UD */


/* http://www.colourlovers.com/palette/4031931/Rose_Quartz_Serenity */

img
{
    display: inline-block;
    float: none;

    max-width: 100%;
    height: auto;

    text-align: center;
    vertical-align: middle;
}

.row
{
    text-align: center;
}



h5{

    font-family: 'Sofia';
    font-size: 26px;
    font-weight: bold;
    font-style: italic;
}



.col-md-1
{
    display: inline-block;
}

.showcase
{
    padding: 40px;

    background-color: #f0f0f0;
}

.jumboapp
{
    background-color: #f7bebe;
}

.start-now
{
    padding: 40px;

    background: linear-gradient(170deg, #13829b 30%, #29d2e4 70%);
}

.containTop
{
    padding-top: 100px;
}

.containLeftRight
{
    padding-right: 150px;
    padding-left: 150px;
}

.features
{
    padding-bottom: 40px;
}

.containBot
{
    padding-bottom: 20px;
}

.contact-us
{
    max-width: 100%;
    height: auto;
    padding: 40px;

    background: linear-gradient(170deg, #29d2e4 20%, #13829b 70%);
    /* background-image:url('../img/cherry.png'); */
}

.category-div
{
    margin-bottom: 15px;

    color: white;
    border-radius: 16px;
    background-color: #63bab5;
}

.index-style
{
    background-color: #f0f0f0;
    padding-bottom: 20%;
}

.category
{
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;

    border-radius: 25px;
    background-color: #b9d8cb;
}

h4
{
    font-size: 28px;

    padding: 15px;
}

.stats
{
    font-size: 14px;

    text-align: center;
}

.stats-overall{
    text-align: center;
    font-size: 24px;
    margin: 15px;
}

.center-div
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;

    width: 300px;
    height: 300px;
    margin: auto;

    border-radius: 3px;
}

.center-div-register
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;

    width: 400px;
    height: 400px;
    margin: auto;

    border-radius: 3px;
}




.btn-xl
{
    font-size: 20px;

    width: 100%;
    padding: 10px 20px;

    color: #63bab5;
    border-radius: 40px;
    background-color: white;
}

footer
{
    background: linear-gradient(160deg, #b9d8cb 0%, #63bab5 100%);
    
}

.hero
{
    /* background-color: #34ADFF; */
    /* background: linear-gradient(160deg, #FCC29A 0%, #29D2E4 50%); */
    /* background: -webkit-linear-gradient(110deg,white 70%, #F7BEBE 35%); */
    /* background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* padding-top: 20px; */
    /* background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%); */

    background-image: url('../img/artboard.png');
    background-attachment: scroll;
    background-size: cover;
}

video
{
    position: relative;

    display: block;

    width: 100%;

    border-radius: 10px;
    background-size: cover;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, .2);
}

.float-right
{
    position: absolute;
}

h1
{
    text-align: center;
}

h2
{
    top: 80px;
    right: 0;

    padding: 10px;

    color: white;
}
.incorrectresults
{
    top: 80px;
    right: 0;
    text-align: center;
    color: white;
    font-size: 30px;
}

a
{
    /* top: 150px;
    right: 50px; */
}

.jumbotron
{
    /* padding: 60px; */
    border-radius: 10px;
    background-size: cover;
    box-shadow: 4px 4px 4px 1px rgba(0, 0, 255, .2);
}

p
{
    text-align: left;
}

ul
{
    overflow: hidden;

    margin: 0;
    padding: 0;

    list-style-type: none;
}


li{
font-size: 12px;

}
.center
{
    width: 50%;
    margin: auto;
    padding: 10px;

    border-radius: 8px;
}

backup
{
    background: url('/img/orange.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
}

body
{
    font-family: 'Arimo';
    font-size: 22px;
    /* background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
    background-image:url('../img/artboard.png');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover; */

    background-color: white;
}

li
{
    float: right;
}

li a
{
    display: block;

    padding: 14px 16px;

    text-align: center;
    text-decoration: none;

    color: black;
}

li a:hover
{
    text-decoration: none;
    color: white;
    background-color: #63bab5;
    border-radius: 5px;
}

.title
{
    text-align: center;
}

form
{
    /* width: 80%;
    margin: 0 auto; */
}

label,
input
{
    /* in order to define widths */
    display: inline-block;
    color: black;
}

label
{
    width: 30%;
    /* positions the label text beside the input */

    text-align: right;
}

label + input
{
    width: 30%;
    /* large margin-right to force the next element to the new-line
       and margin-left to create a gutter between the label and input */
    margin: 0 30% 0 4%;
}


/* only the submit button is matched by this selector,
   but to be sure you could use an id or class for that button */

input + input
{
    float: right;
}

h2
{
    text-align: center;
}

.test-style{
    background-color:#f0f0f0;
    /* Quick fix. Def needs to be revisited. */
    height: 91vh;
}


.flash-cards{

    background-color:#f0f0f0;
}

/*FLIPING A CARD*/

/* entire container, keeps perspective */
.flip-container
{
    perspective: 700px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.active .flipper
{
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back,
.backwrong,
.frontwrong
{
    width: 300px;
    height: 200px;
}

.register
{
    height: 100vh;

    background-image: url('../img/artboard.png');
}

.col-centered
{
    float: none;

    margin-right: auto;
    margin-left: auto;
}


/* flip speed goes here */

.flipper
{
    position: relative;

    transition: .3s;

    transform-style: preserve-3d;
}


/* hide back of pane during swap */

.front,
.back
{
    position: absolute;
    top: 0;
    left: 0;

    background-color: #63bab5;

    backface-visibility: hidden;
}

.dark
{
    color: rgb(27, 27, 27);
}

p
{
    font-size: 16px;
}


/* front pane, placed above back */

.front,
.frontwrong
{
    z-index: 2;
    /* for firefox 31 */

    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back,
.backwrong
{
    transform: rotateY(180deg);
}


/*testing test stuff*/

.answers li
{
    list-style: upper-alpha;
}

label
{
    margin-left: .5em;

    cursor: pointer;
}

#results
{
    width: 200px;
    padding: 3px;

    cursor: pointer;
    text-align: center;

    color: 000000;
    border: 1px solid gray;
    background: #dddada;
}

#results:hover
{
    width: 200px;
    padding: 3px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border: 1px solid gray;
    background: red;
}

#categorylist
{
    display: none;

    margin-top: 6px;
}

#category1,
#category2,
#category3,
#category4,
#category5,
#category6,
#category7,
#category8,
#category9,
#category10,
#category11
{
    display: none;
}

#closing
{
    font-style: italic;
    }
    .page-header{
        color: black;
    }
    .answer {
        background: #b034d9;
        background-image: -webkit-linear-gradient(top,#63bab5, #63bab5);
        background-image: -moz-linear-gradient(top, #63bab5, #63bab5);
        background-image: -ms-linear-gradient(top, #63bab5, #63bab5);
        background-image: -o-linear-gradient(top, #63bab5, #63bab5);
        background-image: linear-gradient(to bottom, #63bab5, #63bab5);
        -webkit-border-radius: 7;
        -moz-border-radius: 7;
        border-radius: 7px;
        font-family: Georgia;
        color: #ffffff;
        font-size:40 px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        height: 60px;
        width: 300px;
      }
      
      .answer:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
      }
      .centeranswer {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
    .question{
        margin-bottom: 30px;
    }
    .wrongresult{
        width: 300px;
        height: 200px;
        background-color: red;
        color: black;
    }

    .correctresult{
        width: 300px;
        height: 200px;
        background-color: lightgreen;
        color: black;
    }
    .frontwrong,
    .backwrong
    {
        position: absolute;
        top: 0;
        left: 0;
    
        background-color: red;
    
        backface-visibility: hidden;
    }
    .backwrong
{
    background-color: green;
}    